---
layout: false
permalink: /one-pager/
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/rfy/one-pager/">
    <link rel="canonical" href="/rfy/one-pager/">
</head>
<body>
    <p>Redirecting to <a href="/rfy/one-pager/">/rfy/one-pager/</a>...</p>
</body>
</html>
